@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/**
    pallete : #eaf3fa #aecdfb #699eee #93b6eb
**/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* header */
header {
    width: 100%;
    height: 10%;
    background-color: #699eee;
    line-height: 60px;
    padding: 0px 50px;
    position: fixed;
}

header h1 {
    font-family: 'Lobster';
    float: left;
}

header h1 a {
    letter-spacing: 2px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
}

header nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 0px 30px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #aecdfb;
    font-weight: 800;
}

.nav-menu {
    display: none;
}

body {
    font-family: 'Open Sans';
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#content {
    width: 100%;
    padding:120px 0px 0px 0px;
}

article{
    padding:25px 0px;
}


.home {
    display: flex;
    flex-direction: row;
}

.home img {
    margin: 20px 0 0px 50px;
    width: 40%;
}

h2{
    color: #699eee;
    font-size: 48px;
    font-weight: bold;
    margin: 25px 0px;
}

.home p{
    color: #93b6eb;
    font-size: 20px;
    margin: 25px 0px;
}

.about{
    padding: 50px 20px;
    background-color: #aecdfb;
}

.about h2{
    text-align: center;
    color: white;
}

.about p{
    column-count: 2;
    column-gap: 40px;
    font-size: 18px;
    text-align: justify;
    color: white;
}

.classroom{
    padding: 50px 20px;
}

.classroom h2{
    text-align: center;
}

.classroom h3{
    text-align: center;
    margin-bottom: 20px;
    color: #93b6eb;
}

.classroom h4{
    padding: 10px 0px;
    color: #93b6eb;
}

.classroom-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 250px;
    height: 250px;
    margin: 0px 20px;
    background-color: #eaf3fa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px 0 #699eee;
  }

.container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
  }

.contact{
    padding: 15px 20px;
    background-color: #aecdfb;
}

.contact h2{
    color: white;
}

.contact img{
    border-radius: 50px;
}

.contact div{
    background-color: #eaf3fa;
    padding: 50px 50px;
    margin: 100px 20px 20px 20px;
    width: 70%;
    border-radius: 50px;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: auto;
}


form input,
form textarea {
    padding: 5px 10px;
    border: none;
    margin: 10px 0px;
    border: 2px solid #e2edff;
    font-family: 'quicksand', sans-serif;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
}
.contact h3{
    color:white
}

.contact section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}




footer {
    color: white;
    background-color: #699eee ;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

footer p {
    border-top: 1px solid rgb(234, 234, 234);
    margin-top: 10px;
    font-size: 15px;
}

.button {
    background-color: #699eee; /* Green */
    border: none;
    font-family: 'Open Sans';
    font-weight: bold;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }

@media screen and (max-width: 992px) {
    header {
        padding: 0px 50px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .nav-menu {
        display: block;
        float:left;
        position: relative;
        font-size: 35px;
        color: white;
    }

    .nav-menu span {
        cursor: pointer;
    }

    header h1 {
        height: 100%;
        padding-left: 5%;
    }

    header h1 a {
        font-size: 30px;
        text-align: center;
        margin-left: 20px;
    }

    header nav ul {
        position: fixed;
        width: 100%;
        height: 50%;
        background-color: #699eee;
        top: 60px;
        left: -100%;
        text-align: left;
    }

    header nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 20px;
    }

    header nav ul.expanded-menu {
        left: 0px;
        height: auto;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        text-align: center;
    }


    .classroom-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    

    .card {
        width: 450px;
        height: 250px;
        margin: 20px 0px;
      }
      
    .container {
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
      }

      .contact section{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
}